* {
  box-sizing: border-box;
}

body {
  background-color: #f3f9ff;
  color: #030303;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
  
.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


/*left*/
.left {
  margin: 2rem;
  display: grid;
  place-items: center;
} 

.title > h1 {
  font-weight: bold;
  text-align: center;
  margin: 1rem;
  color:#3fbaff;
}

header {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  color:  #030303;
}

header > p {
  font-weight: normal;
  font-size: 1.3rem;
}

header a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

a > img {
  max-width: 11%;
  margin-right: 1rem;
}

/*right*/
.rigth {
  margin: 2rem;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.video-container h3 {
  text-align: center;
  color: #030303;
}

.movie {
  width: 100%;
  border: 5px solid #f3f9ff;
  border-radius: 10px;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.btns button {
  font-weight: bold;
  margin-right: .5rem;
  margin-left: .5rem;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

@media (min-width: 769px) {
  
  body {
    height: 100vh;
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}